body {
    margin: 0px;
}

.container {
    width: 1170px;
    margin: 0 auto;

}


.header {
    padding: 60px 0 47px 0;

}

.title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0px;
}

.menu-container {
    margin: 46px 0 0 0;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    padding: 0px;
}

.menu>li {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #000000;
}

.main {
    display: flex;
    align-content: space-between;
}

.content-news {
    flex: 1 0 65%;

}



.news {
    display: flex;
    align-content: space-between;
    height: 369px;
}

.h2-tittle {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    margin: 0 0 15px 0;
}

.main-news {
    position: relative;
    flex: 1 0 60%;

}

.sub-news {
    position: relative;
    flex: 0 1 40%;

    margin-left: 30px;

}

.news-tiser {
    position: absolute;
    bottom: 0;
    margin: 0 0 10px 23px;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h4-main-image {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    margin: 0px;


}

.p-main-image {
    margin: 0px;
    padding: 10px 31px 0 0;
}

.news-item {
    display: inline-flex;
    align-content: space-between;
    margin-bottom: 30px;
    height: 27.92%;


}

.news-item:last-child {
    margin-bottom: 0px;
}

.sub-image-container {
    margin-right: 10px;
    flex: 1 0 45%
}

.sub-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-news-tiser {
    flex: 1 0 50%
}

.h5-sub-image {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    margin: 0px;
}

.p-sub-news {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    margin: 0px;
    padding: 10px 0 6px 0;

}

.previews {
    flex: 0 1 35%;
    margin-left: 30px;
}

.preview-container-flex {
    display: flex;
    flex-direction: column;
}

.preview-container {
    position: relative;
    padding-top: 33px;
    display: flex;
    flex: 0 1 35%;

}

.preview-container:first-child {
    padding-top: 0px;
}



.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-container-tittle {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
}

.preview-tittle-black {
    margin: 0;
    padding: 0;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.preview-tittle {
    margin: 0px;
    padding: 0px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.buttom {
    position: absolute;
    bottom: 10%;
    left: 27%;
    right: 27%;
    text-decoration: none;
}

.buttom-container-orange {
    height: 47px;
    background-color: #FF7931;
}

.buttom-container {
    height: 47px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #FF9A64;
}

.preview-container-buttom {
    position: absolute;
    margin: 10;
    display: flex;
    align-items: center;
    justify-content: center;

}

.buttom-tittle-container {
    flex: 0 1 70%;
}

.buttom-tittle {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin: 0px;
    padding: 0px;
}

.arrow-container {
    flex: 0 1 20%;
    margin-left: 2px;
}

.arrow-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: invert(100%);
}

.menu__footer {
    list-style-type: none;
    display: flex;
}



footer {
    background: #F7F7F7;
}