body {
    margin: 0px;
}

.container {
    width: 1170px;
    margin: 0 auto;

}


.header {
    padding: 60px 0 47px 0;

}

.title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0px;
}

.menu-container {
    margin: 46px 0 0 0;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-transform: uppercase;
    padding: 0px;
}

.menu>li {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2px;
    color: #000000;
}

.main {
    display: flex;
    align-content: space-between;
}



.main-content {
    flex: 1 0 65%;

}



.news {
    display: flex;
    align-content: space-between;
    height: 369px;
}

.h2-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    margin: 0 0 15px 0;
}

.main-news {
    position: relative;
    flex: 1 0 60%;

}

.sub-news {
    position: relative;
    flex: 0 1 40%;

    margin-left: 30px;

}

.news-tiser {
    position: absolute;
    bottom: 0;
    margin: 0 0 10px 23px;
}

.main-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h4-main-image {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    margin: 0px;


}

.p-main-image {
    margin: 0px;
    padding: 10px 31px 0 0;
}

.news-item {
    display: inline-flex;
    align-content: space-between;
    margin-bottom: 30px;
    height: 27.92%;


}

.news-item:last-child {
    margin-bottom: 0px;
}

.sub-image-container {
    margin-right: 10px;
    flex: 1 0 45%
}

.sub-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub-news-tiser {
    flex: 1 0 50%
}

.h5-sub-image {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 19px;
    margin: 0px;
}

.p-sub-news {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    margin: 0px;
    padding: 10px 0 6px 0;

}

.content-overviews {
    margin-top: 5%;
}

.overviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.overviews-item {
    flex: 0 1 48%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-bottom: 37px;

}

.overview-image-container {
    height: 203px;
    flex: 0 1 203px;
}

.overview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overview-tiser-container {
    margin-top: 20px;
    flex-shrink: 1;
}

.overview-title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    margin: 0;
    padding: 0px;
}

.overview-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 11 0 0 0;

}



.main-preview-image-container {
    height: 176px;
}

.main-preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.main-preview-flex {
    display: flex;
    position: relative;
    height: 53px;
    width: 543px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}


.main-preview-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0;
}

.main-preview-container-buttom {

    margin: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-buttom {
    flex: 0 1 32%;
    height: 47px;
    text-decoration: none;
}

.previews {
    flex: 0 1 35%;
    margin-left: 30px;
}

.previews-container-flex {
    display: flex;
    flex-direction: column;

}

.preview-container {
    position: relative;
    width: 379.5px;
    height: 479px;
    margin-top: 9%;


}

.preview-container-absolute {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.preview-container:first-child {
    margin-top: 0px;
}

.preview-container-image {
    position: absolute;
    width: 379.5px;
    height: 479px;
}

.preview-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-container-title {
    margin: 40px 15% 0 15%;
}


.preview-title {
    margin: 0px;
    padding: 0px;
    font-family: Playfair Display;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.button {
    text-decoration: none;
    height: 47px;
    width: 170px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid #FF9A64;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.button-title-container {
    margin-right: 6px;
}

.button-title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    margin: 0px;
    padding: 0px;
}



.menu__footer {
    list-style-type: none;
    display: flex;
}



footer {
    background: #F7F7F7;
}